/* NAVBAR */

nav img {
    width:120px;
}
nav {
    font-weight:bold;
}

/* PROMO */

#promo {
    text-align:center;
    padding:40px;
    margin-bottom:5px;
}

/* BANDEAU */

#bandeau {
    text-align:center;
    padding:50px 90px;
}
#bandeau i {
    font-size:600%;
}
